@defer {
  <spaceribs-background></spaceribs-background>
}
<div
  style="position: relative"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFill
>
  <header
    class="mat-typography header-box"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h1 class="mat-headline-1">
      <span class="handwriting">Plot</span>
    </h1>
  </header>
  <mat-card style="width: 200px">
    <mat-card-actions
      fxLayout="column"
      fxLayoutAlign="center stretch"
      fxLayoutGap="8"
    >
      <button mat-button color="primary">About</button>
      <button mat-button>View Map</button>
      <button mat-button>Login</button>
      <button mat-button>Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>
