name: Docs

permissions:
  contents: read
  pages: write
  id-token: write

on:
  - workflow_dispatch

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.GH_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Setup Git
        run: |
          git config user.name "GitHub Bot"
          git config user.email "gituser@example.com"

      - name: NPM Install
        run: npm ci

      - name: Build Main Website
        shell: bash
        run: npx nx run spaceribs:build:production

      - name: Build Static Website
        shell: bash
        run: npm run scully

      - name: Build Typedoc
        shell: bash
        run: npx nx run-many --target=typedoc

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: 'docs'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
